<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unysoft.bimmik">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mahasiswa.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mahasiswa.InputNilaiSemester"
            android:label="Input Nilai"
            android:parentActivityName=".mahasiswa.Dashboard"
            android:theme="@style/adaToolbar" />
        <activity android:name=".mahasiswa.Profile" />
        <activity android:name=".mahasiswa.Kegiatan" />
        <activity android:name=".mahasiswa.Chat" />
        <activity android:name=".dosen.Dosen_dashboard" />
        <activity
            android:name=".dosen.Dosen_detail_mhs"
            android:label="Detail mahasiswa"
            android:parentActivityName=".dosen.Dosen_dashboard"
            android:theme="@style/adaToolbar" />
        <activity android:name=".dosen.Dosen_profile" />
        <activity android:name=".dosen.Dosen_chat" />
        <activity android:name=".mahasiswa.Print" />
        <activity
            android:name=".mahasiswa.fragment.EditKegiatan"
            android:label="Edit Kegiatan"
            android:parentActivityName=".mahasiswa.Kegiatan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mahasiswa.Message"
            android:label="@string/title_activity_message"
            android:parentActivityName=".mahasiswa.Dashboard"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unysoft.bimmik.mahasiswa.Dashboard" />
        </activity>
    </application>

</manifest>